/* /********************************
Styling exercise for forms
*********************************/
html {
	font-family: 'Hind', sans-serif;
	/* color: red; */
}

.header {
	background-color: #000;
	color: #fff;
	font-weight: 700;
	text-align: center;
}

body {
	background-color: #00e6e6;
}

.event {
	color: red;
}

*******************************
Error styling
********************************

.error {
	font-style: italic;
	color: red;
	font-weight: 700;
}

**************************************
TABLE
***************************************

table#tableList {
	font-size: 12px;
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

#tableList td, #tableList th {
	border: 1px solid #ddd;
	text-align: left;
	padding: 6px;
	white-space: nowrap;
}

#tableList tr:nth-child(even) {
	background-color: #f2f2f2;
}

#tableList th {
	padding-top: 7px;
	padding-bottom: 7px;
	background-color: black;  /*  header color  */
	color: #FFFFFF;
}

#tableList tr:hover {
	background-color: #d5e9f6;
}

/* **************************************
BOX
***************************************

#area {
	
	border: 5px solid red;
	background-color: black;
	
}


.gameboard {
	
	border: 5px solid red;
	background-color: black;
	
}

